COMPOSE_FILE=docker-compose.yml:docker-compose-traefik-http.yml:docker-compose-traefik-testing.yml
# this is what our ssl-offloader will request the certificate for. Use your domain for your cache
CACHE_DOMAIN1=registry-cache.lan
USERNAME1=bob
PASSWORD1=bob
# not set, we want to use the official hub registry. Change this for a private registry.
#UPSTREAM_REGISTRY=https://myprivate.registry.tld